@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    color: #ffffff;
    background-color: #000000;
}

.container {
    width: 1052px;
    margin: 168px auto 0;
    display: block;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 425px;
    display: inline-block;
}

.insight{
    float: left;
    height: 301px;
    border-radius: 10px 0 0 10px;
    background-color: #1c1938;
    padding: 72px 116px 62px 68px;
}

.insight-text h3{
    width: 356px;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.insight-text h3::first-letter, .insight-text p::first-letter {text-transform: uppercase;}

.insight-text span{color: #ae5cde;}

.insight-text p {
    width: 333px;
    font-size: 13px;
    font-weight: 100;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: .3px;
    line-height: 170%;
    margin-bottom: 74px;
    opacity: 0.5;
}

.insight-metrics {
    width: 331px;
}

.metrics {
    margin: 0;
    display: inline-block;
}

.m1 {margin-right: 50px;}
.m2 {margin-right: 50px;}
.m3 {margin: 0;}

.metrics p {display: block;}

.metrics-num{
    font-size: 21px;
    font-weight: 550;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
}

.metrics-num span{
    margin-left: 2px;
}

.metrics-text {
    font-size: 11px;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    opacity: 0.5;
}

.section-img {
    float: right;
    width: 512px;
    height: 425px;
    margin: 0;
}

.img {
    width: 512px;
    height: 100%;
    background: url(../images/image-header-desktop.jpg) no-repeat rgb(162,87,206);
    filter: brightness(1.3);
    background-blend-mode: multiply;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}
